.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
}